@(header: Boolean = false)

@if(header) {
<figure class="thumbnail">
    <a class="image" href="#/portfolio/confitura-2011"><img data-src="img/community/confitura2011/confitura_logo.png"></a>
    <figcaption class="title">Confitura 2011</figcaption>
</figure>
} else {
<!-- Individual Project Page -->
<article class="project">
    <header>
        <div class="container">
            <a href="#/portfolio" class="back">Back to Portfolio</a>
            <h1 class="title">Confitura 2011</h1>
        </div>
    </header>
    <div class="container">
        <section class="details">
            <h1>Details</h1>
            <dl>
                <dt>Organizer</dt>
                <dd>Warsaw JUG</dd>
            </dl>
            <dl>
                <dt>Location</dt>
                <dd>Warsaw, Poland</dd>
            </dl>
            <dl>
                <dt>Date</dt>
                <dd>2011.6.11</dd>
            </dl>
            <dl>
                <dt>Language</dt>
                <dd>Polish</dd>
            </dl>
        </section>
        <section class="intro">
            <h2>Introduction</h2>
            <p>
                I have given a speech titled: <strong>Play!Framework - ewolucja w świecie aplikacji webowych</strong>
                (Play!Framework - evolution in web applications world)
                dedicated to a <a href="http://playframework.org/">Java/Scala web development framework</a>,
                showing participants some advantages (and disadvantages) of this tool. Play have already been there for a while,
                so most of you have probably already heard of it.
            </p>
            <p>
                Presentation was 60 minutes long and I assume there were ~150 participants. I used Prezi as presentation tool
                and official Play's screencast to present basic coding patterns.
            </p>

            <h2>Abstract</h2>
            <div class="container">
                <p>
                    PlayFramework is a young web development framework for Java and Scala. It throws away some
                    fundamental Java world solutions (like Servlets) in advance to provide extremely robust
                    development environment. This presentation answers to couple basic question
                    each developer would ask about a new framework. It shows PlayFramework's MVC fundamentals,
                    dynamic reloading and build system.
                </p>
                <p>
                    Full stack web development framework is a subject more for a training than a short lecture,
                    so many topics will be at most just mentioned during 60 minute talk. That's why I let
                    participants choose topics they want to hear about. Seeing a round of options with
                    small sub-presentation connected to each seemed a great idea for this purpose.
                </p>
            </div>

            <h2>Survey</h2>
            <p>
                About two weeks after I got a survey filled by participants.
                Thanks to that I could see how bad idea was to use official PlafFramework's
                screencast. On the other hand the second part of the lecture
                felt a lot better.
            </p>

            <h2>Video</h2>
            <p>You can see the full video at <a href="http://vimeo.com/27108154">Vimeo</a>.</p>

            <div class="figure">
                <!-- Individual Figure -->
                <div class="wrapper">
                    <figure>
                        <img data-src="img/community/confitura2011/confitura_myself.jpg">
                        <figcaption class="title">Here I am at Cofitura 2011</figcaption>
                    </figure>
                </div>
                <div class="wrapper">
                    <figure>
                        <img data-src="img/community/confitura2011/public.jpg">
                        <figcaption class="title">Huge public during the long conference day</figcaption>
                    </figure>
                </div>
                <div class="wrapper">
                    <figure>
                        <img data-src="img/community/confitura2011/spoina.jpg">
                        <figcaption class="title">SPOINA - really good party after</figcaption>
                    </figure>
                </div>
                <!-- /Individual Figure -->
            </div>
        </section>
    </div>
</article>
<!-- /Individual Project Page -->
}