@(header: Boolean = false)

@if(header) {
<figure class="thumbnail">
    <a class="image" href="#/portfolio/warsjawa-2010"><img data-src="img/community/warsjawa2010/logo.png"></a>
    <figcaption class="title">Warsjawa 2010</figcaption>
</figure>
} else {
<!-- Individual Project Page -->
<article class="project">
    <header>
        <div class="container">
            <a href="#/portfolio" class="back">Back to Portfolio</a>
            <h1 class="title">Warsjawa 2010</h1>
        </div>
    </header>
    <div class="container">
        <section class="details">
            <h1>Details</h1>
            <dl>
                <dt>Organizer</dt>
                <dd>Warsaw JUG</dd>
            </dl>
            <dl>
                <dt>Location</dt>
                <dd>Warsaw, Poland</dd>
            </dl>
            <dl>
                <dt>Date</dt>
                <dd>2010.10.23</dd>
            </dl>
            <dl>
                <dt>Language</dt>
                <dd>Polish</dd>
            </dl>
        </section>
        <section class="intro">
            <h2>Introduction</h2>
            <p>
                Warsjawa 2010 only called workshops actually happened to be more kind of a conference.
                I've spoken my favourite subject which was <strong>PlayFramework</strong>. I was the first to speak
                and unfortunately a lot to slow to warm up the public in early Saturday morning.
            </p>
            <p>
                Fortunately the framework was interesting enough to interest a few people though
                and I was given few questions about it afterwards.
            </p>

            <h2>Abstract</h2>
            <div class="container">
                <p>
                    PlayFramework is a young web development framework for Java and Scala. It throws away some
                    fundamental Java world solutions (like Servlets) in advance to provide extremely robust
                    development environment. This presentation answers to couple basic question
                    each developer would ask about a new framework. It shows PlayFramework's MVC fundamentals,
                    dynamic reloading and build system.
                </p>
                <p>
                    After my <a href="#/portfolio/wjug-2010">last talk about PF (Warsaw JUG)</a>
                    I was told to show some more <i>meat</i> next time and so I've tried.
                    I hope this time it was quite satisfying.
                </p>
            </div>

            <div class="figure">
                <!-- Individual Figure -->
                <div class="wrapper">
                    <figure>
                        <img data-src="img/community/warsjawa2010/myself.jpg">
                        <figcaption class="title">Me - preparing to the presentation</figcaption>
                    </figure>
                </div>
                <div class="wrapper">
                    <figure>
                        <img data-src="img/community/warsjawa2010/audience.jpg">
                        <figcaption class="title">The brave Warsjawa public</figcaption>
                    </figure>
                </div>
                <div class="wrapper">
                    <figure>
                        <img data-src="img/community/warsjawa2010/after.jpg">
                        <figcaption class="title">And a beer afterwards</figcaption>
                    </figure>
                </div>
                <!-- /Individual Figure -->
            </div>
        </section>
    </div>
</article>
<!-- /Individual Project Page -->
}