@(header: Boolean = false)

@if(header) {
<figure class="thumbnail">
    <a class="image" href="#/portfolio/wjug---playframework"><img data-src="img/community/wjug2010pf/wjug_logo.png"></a>
    <figcaption class="title">WJUG - PlayFramework</figcaption>
</figure>
} else {
<!-- Individual Project Page -->
<article class="project">
    <header>
        <div class="container">
            <a href="#/portfolio" class="back">Back to Portfolio</a>
            <h1 class="title">WJUG - PlayFramework</h1>
        </div>
    </header>
    <div class="container">
        <section class="details">
            <h1>Details</h1>
            <dl>
                <dt>Organizer</dt>
                <dd>Warsaw JUG</dd>
            </dl>
            <dl>
                <dt>Location</dt>
                <dd>Warsaw, Poland</dd>
            </dl>
            <dl>
                <dt>Date</dt>
                <dd>2010.02.09</dd>
            </dl>
            <dl>
                <dt>Language</dt>
                <dd>Polish</dd>
            </dl>
        </section>
        <section class="intro">
            <h2>About</h2>
            <p>
                Warsaw JUG working at it's highest routes let me present a 45 minutes long
                PlayFramework presentation. I've introduced this extremely young framework
                (only 2 moths since first news) to Warsaw public.
            </p>
            <p>
                I've presented basic application development using the framework and showed some live-coding.
                You can see the slides here

            <center>
                <embed src="http://embedit.in/lldaT6BqFG.swf" height="400" width="466" type="application/x-shockwave-flash" allowFullScreen="true">
            </center>
            </p>
        </section>
    </div>
</article>
<!-- /Individual Project Page -->
}