@(communityString: String = "Community", programmingString: String = "Programming")
<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Wojtek Erbetowski</title>
    <script src="js/lib/modernizr.min.js"></script>
    <link rel="stylesheet" href="css/app.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png" />
</head>
<body>
<div id="page">
    <!-- Golbal Header -->
    <header id="header">
        <!-- Logo -->
        <hgroup id="logo">
            <h1>Wojtek Erbetowski</h1>
            <h2>Web Designer &amp; Web Developer</h2>
        </hgroup>
        <!-- /Logo -->

        <!-- Golbal Nav -->
        <nav id="nav">
            <h1>Navigation</h1>
            <ul>
                <li class="portfolio"><a href="#/portfolio"><b></b><span>Portfolio</span></a></li>
                <li class="about"><a href="#/about-me"><b></b><span>About me</span></a></li>
                <li class="contact"><a href="#/contact-me"><b></b><span>Contact me</span></a></li>
            </ul>
        </nav>
        <!-- /Golbal Nav -->
    </header>
    <!-- /Golbal Header -->

    <!-- Portfolio Page-->
    <article id="portfolio" class="page">
        <!-- Project Overview (project pages reuse this to display top nav)-->
        <header class="overview-mode">
            <div class="container">
                <h1 class="title">Portfolio</h1>
                <nav class="proj-nav">
                    <h1>Project Overview</h1>
                    <ul class="thumbnails">
                        <!-- Individual Project Thumbnail -->
                        <li class="@communityString.toLowerCase">
                            @views.html.community.confitura2011(header = true)
                        </li>
                        <li class="@communityString.toLowerCase">
                            @views.html.community.warsjawa2010(header = true)
                        </li>
                        <li class="@programmingString.toLowerCase">
                            @views.html.community.wjug2010pf(header = true)
                        </li>
                        <li class="@communityString.toLowerCase">
                            @views.html.programming.ktr2008(header = true)
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- /Project Overview -->
        <!-- /Portfolio Page-->

        <!--Articles-->
        @views.html.community.confitura2011()
        @views.html.community.warsjawa2010()
        @views.html.community.wjug2010pf()
        @views.html.programming.ktr2008()
    </article>

    <!-- About Page-->
    <article id="about" class="page">
        <header>
            <div class="container">
                <a href="#/" class="back">Back to Home</a>
                <h1 class="title">About Me</h1>
            </div>
        </header>
        <div class="container">
            <section class="intro">
                <h1>Introduction</h1>
                <figure class="portrait">
                    <div class="mask"></div>
                    <img data-src="img/portrait-blank.png">
                </figure>
                <div class="content">
                    <p>Not yet ready, expect this page in a couple of days/months/years...</p>
                </div>
            </section>
            <section class="skills">
                <h1>My Skills</h1>
                <dl>
                    <dt>Java</dt>
                    <dd><b></b><span>90</span></dd>
                    <dt>Groovy</dt>
                    <dd><b></b><span>70</span></dd>
                    <dt>Scala</dt>
                    <dd><b></b><span>70</span></dd>
                    <dt>JavaScript</dt>
                    <dd><b></b><span>45</span></dd>
                    <dt>Linux/Unix</dt>
                    <dd><b></b><span>75</span></dd>
                    <dt>OOP</dt>
                    <dd><b></b><span>75</span></dd>
                    <dt>TDD</dt>
                    <dd><b></b><span>80</span></dd>
                    <dt>Web Frameworks</dt>
                    <dd><b></b><span>90</span></dd>
                    <dt>Spring/Guice</dt>
                    <dd><b></b><span>90</span></dd>
                    <dt>Build tools</dt>
                    <dd><b></b><span>85</span></dd>
                    <dt>App servers</dt>
                    <dd><b></b><span>85</span></dd>
                    <dt>RDBMS</dt>
                    <dd><b></b><span>75</span></dd>
                </dl>
            </section>
            <section class="downloads">
                <h1>Downloads</h1>
                <div class="resume">
                    <a href="@("/files/cv.pdf")" target="_blank"><span>Download my Résumé</span></a>
                </div>
            </section>
        </div>
    </article>
    <!-- /About Page-->

    <!-- Contact Page-->
    <article id="contact" class="page">
        <header>
            <div class="container">
                <h1 class="title">Contact Me</h1>
            </div>
        </header>
        <div class="container">
            <section class="info">
                <h1>Contact Information</h1>
                <dl>
                    <dt class="phone">Phone</dt>
                    <dd class="phone">+48 790 028 608</dd>
                    <dt class="address">Address</dt>
                    <dd class="address">Osowska 23, Warszawa, Polska</dd>
                </dl>
            </section>
            <section class="social">
                <h1>Social Networks</h1>
                <ul>
                    <li class="email"><a href="mailto:wojtek@@marmurka.pl">wojtek@@marmurka.pl</a></li>
                    <li class="twitter"><a href="http://twitter.com/wojtassj" target="_blank">Follow me on Twitter</a></li>
                    <li class="facebook"><a href="http://www.facebook.com/wojtassj" target="_blank">Follow me on Facebook</a></li>
                    <li class="linkedin"><a href="http://pl.linkedin.com/in/wojtekerbetowski">Check me out on LinkedIn</a></li>
                    <li class="skype"><a href="skype:wojtek.erbetowski?call">Contact me on Skype</a></li>
                </ul>
            </section>
            <section class="map">
                <figure>
                </figure>
            </section>
            <section class="form">
                <h1>Contact Form</h1>
                <form method="post" action="php/mail.php">
                    <p class="single-line"><label for="contact-form-name">Name</label><input type="text" id="contact-form-name" name="name" required></p>
                    <p class="single-line"><label for="contact-form-email">Email</label><input type="email" id="contact-form-email" name="email" required></p>
                    <p class="multi-line"><textarea name="message" required></textarea></p>
                    <div class="buttons">
                        <button type="submit"><span><b></b><span>Send</span></span></button>
                    </div>
                </form>
            </section>
        </div>
    </article>
    <!-- /Contact Page-->

    <!-- Global Footer (will be appended to all pages)-->
    <footer id="footer">
        <div class="container">
            <a class="back-to-top" href="#">Back To Top</a>
            <div class="legal">&copy; 2012 Marmurka Wojciech Erbetowski.</div>
        </div>
    </footer>
    <!-- /Global Footer -->
</div>
<!-- Client-side Template -->
<script id="tooltip-tpl" type="text/html">
		<span class="tooltip">
			<b class="arrow"></b>
			<span class="content"><%= text %></span>
		</span>
</script>
<script id="filter-tpl" type="text/html">
    <div class="filter">
        <b></b>
        <ul>
            <li class="active">Everything</li>
            <li>@programmingString</li>
            <li>@communityString</li>
        </ul>
        <span class="thumb"><b></b><span></span></span>
    </div>
</script>
<script id="pagination-tpl" type="text/html">
		<span class="pagination">
			<span class="prev"></span><span class="num"></span><span class="next"></span>
		</span>
</script>
<script id="indicators-tpl" type="text/html">
    <div class="indicators">
        <span class="progress">Sending message...</span>
        <span class="success">Message sent successfully</span>
        <span class="error">Error sending message</span>
    </div>
</script>
<!-- /Client-side Template -->

<!-- JavaScript Libraries -->
<script src="js/lib/jquery.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/lib/jquery-css-transform.js"></script>
<script src="js/lib/jquery-animate-css-rotate-scale.js"></script>
<script src="js/lib/jquery.quicksand.js"></script>
<script src="js/custom/jquery.slider.js"></script>
<script src="js/custom/jquery.lava.js"></script>
<script src="js/custom/jquery.gmaps.js"></script>
<script src="js/custom/jquery.h5f.js"></script>
<script src="js/custom/interactivevalidation.js"></script>
<!-- /JavaScript Libraries -->

<!-- Custom JavaScript -->
<script src="js/model.js"></script>
<script src="js/router.js"></script>
<script src="js/view.js"></script>
<script src="js/bootstrap.js"></script>
<!-- /Custom JavaScript -->
</body>
</html>
